.button {
  display: inline-flex;
  background-color: $white;
  text-transform: lowercase;
  color: $black;
  text-decoration: none;
  padding: 12px 16px;
  line-height: 10px;
  border: 1px solid $black;
  transition: color 0.3s linear, background-color 0.3s linear;

  &:hover {
    color: $white;
    background-color: $black;
  }
}
